<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Employee</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/index.js"></script>

</head>

<body>
    <div class="root">
        <div class="card">
            <h1>
                Something went wrong!
            </h1>     
            <p>
                Please try again later! Click on Add New Employees to continue
            </p>
            <button style="margin-top: 30px;" onclick="goToIndex()">
                Add new Employee
            </button>       
        </div>
    </div>
</body>

</html>